@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Slab:wght@500&family=Roboto:wght@100;300&display=swap');

body{
    margin: 0em;
    padding: 0em;
    background-color: #ebebeb;
}

/*navigation bar styling*/
nav{
    background-image: url("images/logo.png");
    background-repeat: no-repeat;
    background-size: 60px;
    padding-top: 3px;
    padding-left: 30px;
    height: 60px;
}
nav>ul{
    list-style-type: none;
}
li{
    display: inline-block;
}
li>a{
    color: #51279b;
    text-decoration: none;
    background-color: none; 
    padding: 20px;
    font-size: 24px;
    font-family: "roboto";
}
li>a:hover{
    color: #8662C7;
}
header{
    background-color: rgb(255, 255, 255);
}
/* Main body content */
section {
    padding-top: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 60%;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#image-content span img{
    width: 100%;
}
div>img{
    width: 65%;
}
.hearts{
    background-image: url("images/heart.png");
    background-repeat: no-repeat;
    background-size: 19px;
    padding-top: 3px;
    padding-left: 30px;
}
.comments{
    background-image: url("images/comment.png");
    background-repeat: no-repeat;
    background-size: 19px;
    padding-top: 3px;
    padding-left: 30px;
    margin-left: 20px;
}
p>span{
    font-size: 12px;
}

/*footer styling*/
footer{
    background-color: #51279b;
    padding: 15px;
    color: white;
    margin-top: 2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
a{
    text-decoration: none;
    color: #a9a9ba;
}
